doctype html
html(ng-app='coffeToGoApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous")
  body
    .navbar.navbar-light.bg-light.navbar-expand-lg.fixed-top
      .container
        a.navbar-brand(href='/') Coffe to Go
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-main' aria-controls='#navbar-main' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar-main.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about/') About
    .container.mt-5.pt-2
      block content
    footer.fixed-bottom.bg-light.text-center
      div
        small &copy; Dmitriy Korneev 2018
    script(src='/angular/angular.min.js')
    script(src='/angular/coffeToGoApp.js')
    script(src='/javascripts/jquery-3.3.1.slim.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')
