extends layout

include _includes/sharedHTMLfunctions

block content
  .row
    .col-lg-6
      h2= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="locationListCtrl")
      .error {{message}}
      ul.list-group
        li.list-group-item(ng-repeat="location in data.locations")
          h4
            a(href="/location/{{location._id}}"){{location.name}}
            &nbsp;
            small(rating-stars, rating="location.rating")
            span.badge.badge.badge-warning.float-right{{location.distance | formatDistance}}
          p.adress{{location.address}}
          span(ng-repeat="facility in location.facilities")
            span.badge.badge-info{{facility}}
            &nbsp;   
    .col-xs-12.col-sm-4
      p= sidebar     
