<navigation> </navigation>
<div class="container mt-5 pt-2">
  <div class="row page-header">
    <div class="col-lg-12">
      <h1>{{ vm.location.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <small rating-stars rating="vm.location.rating"></small>
          <p>{{ vm.location.address }}</p>
          <div class="card bg-light">
            <h4 class="card-header">Opening hours</h4>
            <div class="card-body">
              <p
                ng-repeat="openingTime in vm.location.openingTimes"
                ng-switch
                on="openingTime.closed"
              >
                {{ openingTime.days }}:
                <span ng-switch-when="true">closed</span>
                <span ng-switch-default
                  >{{ openingTime.opening }} - {{ openingTime.closing }}</span
                >
              </p>
            </div>
          </div>
          <div class="card bg-light">
            <h4 class="card-header">Facilities</h4>
            <div class="card-body">
              <span ng-repeat="facility in vm.location.facilities">
                <span class="badge badge-info">{{ facility }}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 location-map">
          <div class="card bg-light">
            <h4 class="card-header">Location map</h4>
            <div class="card-body map-card">
              <google-map
                lng="vm.location.coords[0]"
                lat="vm.location.coords[1]"
              ></google-map>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 review-panel">
          <div class="card bg-light">
            <h4 class="card-header">
              Customer reviews
              <a
                href="/location/#{location._id}/review/new"
                class="btn btn-info float-right"
                >Add review</a
              >
            </h4>
            <div class="card-body review-container">
              <div class="row" ng-repeat="review in vm.location.reviews">
                <div class="review">
                  <div class="well well-sm review-header">
                    <small rating-stars rating="review.rating"></small>
                    <span class="reviewAuthor">{{ review.author }}</span>
                    <small class="reviewTimestamp">{{
                      review.createdOn
                    }}</small>
                  </div>
                  <div class="col-xs-12">
                    <p>{{ review.reviewtext }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <p class="lead">{{ vm.sidebar.first }}</p>
      <p>{{ vm.sidebar.second }}</p>
    </div>
  </div>
</div>
<footer-generic> </footer-generic>
